{% extends "layout/base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h3 class="mb-0">{{ character.char_name }}</h3>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <h5 class="card-title">Nivel</h5>
          <p class="card-text">{{ character.char_class }}</p>
        </div>
        <div class="col-md-6">
          <h5 class="card-title">Escuela</h5>
          <p class="card-text">{{ character.char_spell }}</p>
        </div>
      </div>
      <div class="mb-3">
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">{{ character.char_alighment }}</p>
      </div>
    </div>
    <div class="card-footer">
      <a href="{% url 'char_list' %}" class="btn btn-secondary">Volver</a>
      <a href="{% url 'char_edit' character.pk %}" class="btn btn-warning">Editar</a>
      <form action="{% url 'char_delete' character.pk %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}